.input-wrapper {
  align-items: center;
  height: 2.5rem;
  padding: 5px 15px;
  box-shadow: 0 0 8px #393737;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  /* background: #87`8787; */
  border: 1px solid rgb(127, 127, 127);
  margin: 10px 5px;
}
.flex{
  display: flex;
justify-content: center;
}
.search-input {
  background: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-right: 5px;
  color: white;
}
input:focus {
  outline: none;
}

#search-icon{
    color: rgb(0, 255, 229)
}