.movie-list {
	margin: 10px;
	display: grid;
	grid-gap: 10px;
	justify-content: center;
	max-width: 100%;
	justify-content: center;
}
@media (max-width: 730px) {
	.movie-list {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
@media (max-width: 994px) and (min-width: 730px) {
	.movie-list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 994px) and (max-width: 1301px) {
	.movie-list {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1301px) {
	.movie-list {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

p {
	color: white;
}
.movie-list__heading {
	justify-content: center;
	display: grid;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	/* text-decoration-line: underline; */
	margin: 64px 0;
    font-size: 64px;
    color: red;
    text-shadow: 2px 2px white;
}
