
.logo{
    color: red;
    font-family: fantasy;
}

.logo-large{
    font-size: 2vw;
}
.logo-small{
    font-size: 4vw;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}